QMainWindow {
    background-color: #1d1f21;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
}

QGroupBox {
    background-color: #31363b;
    color: rgb(255,255,255);
    font: 10pt "Yu Gothic Medium";
}

QScrollBar:vertical {
    border: 1px solid gray;
    background: rgb(65,58,66);
    width: 20px;
}
QScrollBar::sub-page:vertical {
    background: qlineargradient(x1:0.5, y1:0, x2:0.5, y2:1, stop:0 rgb(79, 80, 92), stop:1 rgb(192,192,192));
}

QLabel, QCheckBox {
    color: rgb(255,255,255);
    font: 14px;
    font-family:"Arial";
}


QProgressBar
{
    border: 1px solid gray;
    border-radius: 3px;
    background: #1d1f21;
    padding: 1px;
    color: white;
    font: bold 14px;
    qproperty-alignment:AlignCenter;
}

QProgressBar::chunk:horizontal {
    background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 rgb(126,7,169), stop: 1 rgb(255,214,1));
}
QMessageBox{
    background:#1d1f21;
}

QMessageBox QLabel {
    qproperty-alignment:AlignLeft;
}
